# Local Terraform files
*.tfstate
*.tfstate.*
*.tfvars        # variable files, often contain secrets
crash.log       # crash logs

# Terraform plan files
*.tfplan

# Backup and temporary files
*.backup
*.tmp
*.swp
*.bak

# CLI configuration
**/.terraform/
.terraform/
.terraform.lock.hcl

# IDE/editor specific
.vscode/
.idea/
*.iml

# Optional: OS files
.DS_Store
Thumbs.db
